# See http://help.github.com/ignore-files/ for more about ignoring files.

*.iml

# IDEs and editors
*.xml
/.idea

# Jupyter Notebook
.ipynb_checkpoints


# datasets
classify_MNIST_handwritten_digits/dataset/MNIST
!classify_MNIST_handwritten_digits/dataset/MNIST/mnist_readme.txt
